<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom position-fixed w-100  " style="z-index: 2;">
   <div class="container-xxl ">
     <a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/brand/logo/logo-primary.svg" alt=""></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>


     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" href="@@webRoot/index.html">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="@@webRoot/components/accordions.html">Components</a>
         </li>

         <li class="nav-item">
           <a class="nav-link" href="@@webRoot/docs/index.html">Docs</a>
         </li>
       </ul>
       <div class="ms-auto d-flex">
         <a href="#" class="btn btn-primary">Sign in</a>

       </div>

     </div>
   </div>
 </nav>