<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="@@webRoot/assets/images/favicon/favicon.ico">

<!-- Libs CSS -->

<link rel="stylesheet" href="@@webRoot/node_modules/prismjs/themes/prism.css">
<link rel="stylesheet" href="@@webRoot/node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css">
<link rel="stylesheet" href="@@webRoot/node_modules/prismjs/plugins/toolbar/prism-toolbar.css">
<link rel="stylesheet" href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="@@webRoot/node_modules/dropzone/dist/dropzone.css" >
<link href="@@webRoot/node_modules/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">






<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->